/*   VARIABLES
______________________ */


// ----- Colors ------
$text--color: #fff;

// Header
$header__bg: #000;

// Sections
$gradient__orca: linear-gradient(#d15547 0%, #a144ac 100%);
$gradient__beluga: linear-gradient(#ffa900 0%, #eb6302 100%);
$gradient__humpback: linear-gradient(#30e1d3 0%, #0b82e5 100%);
$heading__border: #000;


// ------ Fonts ------ 
$font--primary: 'Caviar Dreams Regular';


// ------ Images ------ 
$logo: url(../img/logo.png);